body {
    background-color: black;
    color: white;
}

.navbarContainer {
    height: 75px;
    width: 100%;
    position: fixed;
    top:0;
    display: flex;
    justify-content: center;
}

.navbar {
    height: 60%;
    width: 90%;
    background-color: rgba(37, 36, 36, 0.644);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-home, .nav-projects, .nav-skills {
    height:30px;
    width: 55px;
    text-align: center;
}

.nav-social {
    height:30px;
}

a {
    color:rgb(126, 129, 129);
    text-decoration: none;
    font-family: monospace;
}

.footerContainer {
    height: 75px;
    width: 100%;
    position: fixed;
    bottom:0;
    display: flex;
    justify-content: center;
}

.footer {
    height: 60%;
    width: 90%;
    background-color: rgba(37, 36, 36, 0.644);
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.footer-contain {
    height:20px;
    font-family: monospace;
    color: rgb(126, 129, 129);
}

.home-container {
    margin-top: 60px;
    height: 450px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-contain-A {
    height: 270px;
    width:250px;
    margin: 10px;
}

.home-contain-B {
    height: 200px;
    width:200px;
    background-image: url(myphoto.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.name {
    height:50px;
    font-family: monospace;
    font-weight: bolder;
    font-size:60px;
    text-align: center;
}

.about {
    height:175px;
    font-family: monospace;
    font-size: 13.5px;
    line-height: 18px;
}

.get-in-touch {
  color: white;
  font-family: monospace;
  height: 40px;
  width: 100%;
  box-shadow: 0 0 20px rgba(2, 168, 38, 0.884);
  background-color:rgba(2, 168, 38, 0.884); 
  transition: 0.3s; 
}

@media (min-width:100px) and (max-width: 500px) {
    .home-container {
        height:760px;
        display: flex;
        flex-direction: column-reverse;
    }

    .home-contain-B, .home-contain-A {
        margin: 10px;
    }
}





